/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e52d6d;
    padding: 50px;
}
img{
    float: left;
}


.clearfix::after{
    content:"" ;
    clear: both;
    display: block;
    clear: both;
}

/* Utility */

.container{
    width: 80%;
    margin: auto;
}

.team{
   
    border: 2px dotted black;
    float: left;
    width: calc((100% / 3) - 100px);
    height: 200px;
    margin: 50px;
    background-color: #0f0e17;
}

